@charset "utf-8";
/* CSS Document */


@media screen and (max-width: 420px){
	.reco{
		display: flex;
		flex-direction: column;
	}
	.recoinp{
		flex: 2;
		margin-bottom: 10px;
	}
	.recosnd{
		flex: 1;
		text-align: center;
		

		
	}
	

	.navbar-brand{
		position: relative;
		top: 110px;
		left: -15px;
	}
}

@media screen and (min-width: 400px) {
	.panels{
	margin-top: 20px;
}
	
	
}


@media screen and (min-width: 600px) {
	
	.catxt{
	font-size: 14px;
	
}
.but{
	
	height: 60px;
	font-size: 30px;
	padding: 7px 30px;
	
	
	
	
}
	
	#jssor_1 {
	height:560px;
}
	.jssor2{
		height: 560px;
	}
	
	
	
	.panels{
	margin-top: 20px;
}
	
	.whitecont{
	
	
	height: auto;
	 
	 
	box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.2);
}
	
	.category{
		
	display: flex;
	font-size: 22px;
}
.foodstuffs{
	flex:1;
	height: 200px;
	width: 80%;
	margin-right: 40px;

	
}

.fastfood{
	flex:1;
	height: 200px;
	width: 80%;
	
	
}
	.ctxt{
		
	
	height: 60px;

	
	
}
}
@media screen and (max-width: 1299px) {
.search1{
		position: relative;
		margin-top: 20px;
		margin-left: auto;
		margin-right: auto;
		width: 80%;
		
	}
}
@media screen and (max-width: 722px) {
	.dropdown-content li a{

	padding: 5px 6px;
	
	font-size: 12px;
	}
.flex-icon >li {

	height: 70px;
	width: 70px;
	
	margin: 10px 
}

.flex-icon li a {

   
	height: 50px;
	width: 50px;

	
}
.flex-icon i{
	padding: 10px;
	font-size: 25px;
}

.itxt{
	
	font-size: 12px;


}

	
	
	.dropdown-content{
		width: 100px;
		margin-left: -25px;
	}
	.nav1 i{
	font-size: 14px;
}
	
	
	.logintxt{
		display: none;
	}
	
	.navul{
		position: absolute;
		top:22px;
		right:30px;
	}
	.navli{
  width: 40px
}
	.cartst{
		margin-left: -10px;
	}
	
	#toTop {
    padding: 4px 6px;
		
	
}
}

@media screen and (min-width: 722px) {
	.chat{
		display: none
	}
	
	
	ul .dropdown .fa-user{
		 margin-right: 5px;
	}
	ul li .fa-home{
		 margin-right: 5px;
	}

	
	.navul{
		position: absolute;
		top:22px;
		right:30px;
	}
	
}
@media screen and (min-width: 722px) {
	.copyright{
		position: absolute;
		right: 40px;
	}
	
}
@media screen and (min-width: 1300px) {
	.search1{
		margin-top: -35px;
		margin-left: 15%;
		margin-right: 15%;
		
		width: 45%;
		
	}
}

@media screen and (min-width: 1000px) {
/*
	.search1{
		margin-top: -35px;
		margin-left: 15%;
		margin-right: 15%;
		
		width: 50%;
		
	}
	
*/
	.category{
	
	font-size: 30px;
}
.foodstuffs{
	
	height: 400px;
	

	
}

.fastfood{
	height: 400px;
	
	
	
}
	.ctxt{
	
	height: 60px;

	
	
}
	
	.tab{
  padding:10px 20px;
  font-size: 14px;
}
}
													/*addlist*/

@media screen and (max-width: 722px){
			.mylist li {
  
  font-size: 12px;
			}
			.htxt{
			font-size: 14px
		}

		}

													/*PRODUCTCSS*/


@media screen and (min-width: 768px) {
  .cart {
    width: 30vw;
    min-width: 450px;
	
	}
	.cart-items {
  
		right: 7px;}
}

